body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: map-get($f-colors-general, grey--dark);
}
